body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.steps .step-filled + .step-filled:before, .steps .step-filled:after {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(59 130 246 ) !important;
  --tw-text-opacity: 1 !important;
  color: white !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LemonMilk";
  src: local("LemonMilk"),
   url("./fonts/LemonMilk/LemonMilkMediumItalic.otf") format("truetype");
  font-weight: bold;
}